#descripcion{

}

.texto{
    margin-top: 10%;
    padding: 5%;
    text-align: justify;
    width:600px;
    height: 300px;
    border: 1px solid black;
    border-radius: 0px 50px 0px 50px;
    font-size: larger;
    font-weight: bold;
    background: linear-gradient(155deg, rgba(0,138,255,1) 0%, rgba(255,255,255,1) 60%);
}
.img{
    border-radius: 50%;
    width: 600px;
}
.logodiv{
    margin: 5%;
    padding-top: 5%;
    text-align: center;
    width:400px;
    background-color: transparent;
}