nav{
    /*Hace referencia al tag nav*/
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: black;
    font-family: 'Poppins', sans-serif;
    z-index: 100;
    background: linear-gradient(178deg, rgba(0,138,255,1) 10%, rgba(255,255,255,1) 60%);
  }

  .logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    font-size: x-large;
  }

  .nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
  }
 
  .nav-links li a{
  /* Animacion subrayado */
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  font-size: large;
  }
  
  .nav-links li a:hover, .nav-links li a:focus {
    background-size: 100% 2px;
  }
  
  .nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }